@{
	ViewData["Title"] = "About Us";
}

<h1>We are capable development company</h1>
<p class="lead">Founded in 2010, this school has been a cornerstone of educational excellence in our community for more then 10 years. We offer a comprehensive curriculum that combines rigorous academics, innovative programs, and extracurricular activities to prepare our students for success in an ever-changing world.</p>
<p class="lead">
	<a href="https://twitter.com/Nicknet1c" class="btn btn-lg btn-dark fw-bold border-white bg-black">Contact us for more info</a>
</p>